h1,
h2,
h3 {
  color: #004440 !important;
  text-transform: none !important;
}

.small-text {
  font-size: 0.5em;
}

.text-dark-bg {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

p.logo > img {
  background: none;
  border: none;
  box-shadow: none;
  margin: 0;
  height: 5em;
}
